<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
</head>
<body>
<header>
    <center>
    <img src="/static/bardo.png"  height="180" width="150" alt="conselheiro" >
        <h2 class="hermes">...Sabedorias do Bardo...<br></h2>
        <h1 class="title">
        {{msg}}
        </h1><br>
    </center>
</header>
   
    <section>
    <center>
        <input type="button" class="butao" value="Nova Mensagem" onClick="window.location.reload()">
        <h3 class="corpo">Você deveria escutar!</h3>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Gostaria de ótimos conselhos de um Bardo, acesse o link e se divirta. " data-url="https://sabedoriadobardo.herokuapp.com/" data-hashtags="python" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>      
    </center>

    </section>
    <footer>
    <center>
        <br>
        <a href="https://github.com/DomGreg" target="_blank">
            <img src="/static/GitHub.png" height="40" width="100" alt="github">
        </a>

        <br>
        <a href="https://web.whatsapp.com/send?phone=554197315194" target="_blank">
            <img src="static/telefone.png" height="40" width="40" alt="telefone" class="whatsapp">
        </a>
          
        <h5 class="create">Create by: Gregorio Silva</h5>
    </center>

    </footer>
</body>
</html>